th, td {
  text-align: center!important;
}

th:first-child {
  text-align: left!important;
}

th {
  color: rgb(228, 228, 228)!important
}

td {
  color: rgb(175, 175, 175)
}

.currencyText {
  margin-top: 0.3rem!important;
  margin-left: 10px;
}

.chainText {
  margin-top: -0.4rem!important;
  margin-left: 10px!important;
}